
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
    margin: 0%;
    padding: 0%;
}

.title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    background-color: chocolate;
    border: #000000 1px solid;
}

.titleText {
    text-align: center;
    padding: 10px;
}

.nav {
    padding: 0%;
    margin: 0%;
    background-color: cornsilk;
    text-align: center;
    justify-content: space-evenly;
}

.nav-list {
    list-style-type: none;
    padding: 2vh;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-size: 15px;
    border: #000000 1px solid;
    border-style: solid;
    font-size: 20px;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1px;
  margin: 16px;
  background-color: cornsilk;
}


.box {
    border: 1px solid #000000;
    padding: 8px 20px;
    align-items: center;
    text-align: center;
    background-color: chocolate;
    min-width: 300px;
    min-height: 300px;
    width: 20vw;
    height: 12vh;
    margin: 3px;
}

.projectButton {
    background-color: cornsilk;
    border: none;
    color: black;
    padding: 1px 20px;
    text-align: center;
    display:inline-block;
    font-size: 16px;
    margin: 2px 2px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.headers {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.projectThumbnail {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.cropper {
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.aboutSection {
    padding: 20px;
    background-color: cornsilk;
    border: #000000 1px solid;
    margin: 16px;
    align-items: center;
}

.flex {
    white-space: pre-wrap;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.linksBox {
    border: #000000 1px solid;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.resumeImg {
    align-items: center;
    align-self: center;
}